Código/GameServer/Connected Services/Logger/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/LogServiceInterfaces" />
  <xs:element name="StartNewGameLog">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartNewGameLogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewLogEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entry" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewLogEntryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameLog">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetGameLogResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewGameResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LogServiceInterfaces" minOccurs="0" name="players" nillable="true" type="q2:ArrayOfPlayerStats" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewGameResultResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TopTenScores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TopTenScoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LogServiceInterfaces" minOccurs="0" name="TopTenScoresResult" nillable="true" type="q3:ArrayOfPlayerStats" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchesStats">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMatchesStatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LogServiceInterfaces" minOccurs="0" name="GetMatchesStatsResult" nillable="true" type="q4:ArrayOfMatch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>