Código/PlayerCRUDWebApi/Connected Services/Logger/LogServiceInterfaces.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LogServiceInterfaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LogServiceInterfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPlayerStats">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerStats" nillable="true" type="tns:PlayerStats" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerStats" nillable="true" type="tns:ArrayOfPlayerStats" />
  <xs:complexType name="PlayerStats">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsAlive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsWinner" type="xs:boolean" />
      <xs:element minOccurs="0" name="KillScore" type="xs:int" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerStats" nillable="true" type="tns:PlayerStats" />
  <xs:complexType name="ArrayOfMatch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Match" nillable="true" type="tns:Match" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatch" nillable="true" type="tns:ArrayOfMatch" />
  <xs:complexType name="Match">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PlayerStats" nillable="true" type="tns:ArrayOfPlayerStats" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Match" nillable="true" type="tns:Match" />
</xs:schema>